<section aria-labelledby="hero-title"
class="w-full flex justify-end relative overflow-hidden min-h-[80vh] bg-gradient-to-t from-mainColor to-transparent via-transparent">

  <img src="assets/hero-bg-small.jpg" srcset="assets/hero-bg-medium.jpg 640w" aria-hidden="true"
  class="absolute w-full min-h-full h-full lg:h-fit object-cover object-center -z-20">
  <div class="absolute inset-0 bg-mainColor/80 sm:bg-mainColor/60 -z-10"></div>

  <div class=" w-full px-3 flex flex-col max-w-2xl self-center">
    <span class="font-roboto_mono font-bold text-3xl">Seu site:</span>
    <div class="flex flex-col w-full h-20 overflow-hidden">
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span hidden sm:block">Como você imaginou!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span">Único!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span">Rápido!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span">Moderno!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span">Inovador!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span sm:hidden">Atrativo!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span">Exclusivo!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span sm:hidden">Versátil!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span sm:hidden">Perfeito!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span sm:hidden">Único!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span hidden sm:block">Feito sob medida!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span hidden sm:block">Do seu jeito!</span>
      <span class="font-roboto_mono font-bold text-6xl py-4 animated-span hidden sm:block">Como você imaginou!</span>
    </div>
    <p class="font-roboto font-bold sm:text-lg text-white/70 mt-3">Transforme suas ideias em realidade com sites personalizados, modernos e rápidos. Seja para o seu negócio, portfólio ou projeto especial, estamos aqui para trazer sua visão à vida!</p>
    <a href="#contact" aria-label="Ir para a seção de contato e iniciar seu projeto"
    class="px-5 py-4 font-roboto_mono font-bold text-xl sm:text-2xl bg-white text-mainColor w-full sm:w-fit self-center rounded-2xl mt-8 sm:hover:scale-110 ease-in-out duration-300 active:bg-white/70 active:text-mainColor-dark text-center">Faça seu projeto acontecer!</a>
  </div>

</section>
