<section id="about-us"
class="w-full overflow-hidden relative flex flex-col items-center">
  <img src="assets/image-background-small.jpg" aria-hidden="true" loading="lazy"
  class="absolute w-full min-h-full h-full lg:h-fit -z-20">
  <div class="absolute inset-0 bg-mainColor-light/75 -z-10"></div>

  <div class="w-full px-3 flex flex-col items-center mb-10">
    <span class="font-roboto_mono font-bold text-xl sm:text-3xl mt-10">Um pouco sobre nós:</span>
    <h2 class="font-roboto_mono font-bold text-3xl sm:text-5xl text-center mt-2">Quem somos!</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-4 mb-10 py-3 px-3">
    <img src="assets/illustration-about.svg" alt="illustration" loading="lazy"
    class="w-3/4 md:w-full max-w-xl md:order-2 m-auto">

    <div class="flex flex-col gap-4 w-full max-w-xl">
      <p class="font-roboto font-bold text-lg">Na Fokhus, acreditamos que a tecnologia é a chave para o futuro, e estamos aqui para criar, inovar e crescer junto com você. </p>
      <ul role="list"
      class="font-roboto text-base flex flex-col gap-2" >
        <li class="flex gap-2" role="listitem">
          <img src="assets/Ellipse-svg.svg" alt="ellipse icon" loading="lazy">
          <span>Apaixonados por tecnologia!</span>
        </li>
        <li class="flex gap-2" role="listitem">
          <img src="assets/Ellipse-svg.svg" alt="ellipse icon" loading="lazy">
          <span>Transformamos ideias em realidade digital!</span>
        </li>
        <li class="flex gap-2" role="listitem">
          <img src="assets/Ellipse-svg.svg" alt="ellipse icon" loading="lazy">
          <span>Te ajudados a alcançar seu objetivos com eficiência!</span>
        </li>
        <li class="flex gap-2" role="listitem">
          <img src="assets/Ellipse-svg.svg" alt="ellipse icon" loading="lazy">
          <span>Excelência em cada projeto!</span>
        </li>
        <li class="flex gap-2" role="listitem">
          <img src="assets/Ellipse-svg.svg" alt="ellipse icon" loading="lazy">
          <span>Atendimento personalizado!</span>
        </li>
        <li class="flex gap-2" role="listitem">
          <img src="assets/Ellipse-svg.svg" alt="ellipse icon" loading="lazy">
          <span>Sempre de olho nas tendências do mercado!</span>
        </li>
      </ul>
    </div>
  </div>

</section>
