<section id="services"
class="w-full overflow-hidden relative flex flex-col items-center">
  <img src="assets/image-background-small.jpg" aria-hidden="true" loading="lazy"
  class="absolute w-full min-h-full h-full lg:h-fit -scale-x-100 -z-20">
  <div class="absolute inset-0 bg-mainColor/75 -z-10"></div>

  <div class="w-full px-3 flex flex-col items-center mb-6 sm:mb-10">
    <span class="font-roboto_mono font-bold text-lg sm:text-3xl mt-10">O que temos a oferecer:</span>
    <h2 class="font-roboto_mono font-bold text-2xl sm:text-5xl text-center sm:mt-2">Nossos serviços</h2>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 px-3">
    <div class="max-w-xl border-2 border-white p-4 bg-black/25 rounded-lg">
      <h4 class="font-roboto_mono font-bold text-2xl text-center mb-2">Landing pages</h4>
      <p class="font-roboto text-base text-white/70">Transforme visitantes em clientes com páginas rápidas, modernas e focadas em resultados. Perfeitas para divulgar produtos, serviços ou promoções, as landing pages que desenvolvo entregam impacto visual e alta performance, sempre alinhadas à sua marca!</p>
    </div>
    <div class="max-w-xl border-2 border-white p-4 bg-black/25 rounded-lg">
      <h4 class="font-roboto_mono font-bold text-2xl text-center mb-2">Portifólios</h4>
      <p class="font-roboto text-base text-white/70">Apresente suas habilidades e conquistas de forma profissional e envolvente com portfólios modernos, rápidos e personalizados. Ideais para destacar projetos, talentos ou serviços, os portfólios que desenvolvemos combinam design impactante e navegação eficiente, sempre refletindo a essência da sua marca!</p>
    </div>
    <div class="max-w-xl border-2 border-white p-4 bg-black/25 rounded-lg">
      <h4 class="font-roboto_mono font-bold text-2xl text-center mb-2">Sites institucionais</h4>
      <p class="font-roboto text-base text-white/70">Fortaleça a presença online da sua empresa com sites institucionais modernos, rápidos e totalmente personalizados. Perfeitos para transmitir credibilidade, valores e informações importantes, os sites que desenvolvo garantem um design profissional, navegação intuitiva e alinhamento completo com a identidade da sua marca!</p>
    </div>
    <div class="max-w-xl border-2 border-white p-4 bg-black/25 rounded-lg">
      <h4 class="font-roboto_mono font-bold text-2xl text-center mb-2">Sistemas de vendas</h4>
      <p class="font-roboto text-base text-white/70">Maximize seus resultados com sistemas de vendas rápidos, eficientes e totalmente personalizados. Ideais para gerenciar produtos, pedidos e clientes, os sistemas que desenvolvo oferecem funcionalidades completas, navegação intuitiva e alta performance, sempre alinhados às necessidades do seu negócio!</p>
    </div>
  </div>
  <div class="px-3">
    <div class="w-full md:max-w-2xl border-2 p-4 bg-white rounded-xl text-mainColor flex flex-col md:col-span-2 mt-6 mb-10">
      <h4 class="font-roboto_mono font-bold text-2xl text-center mb-2">Sob medida</h4>
      <p class="font-roboto text-base text-center">Além dos serviços listados, também ofereço soluções personalizadas para atender às suas necessidades específicas. Tem algo em mente que deseja trazer a realidade? Entre em contato e vamos criar juntos a solução ideal para o sucesso do seu projeto!</p>
      <a href="#contact" aria-label="Solicitar orçamento para serviços personalizados"
      class="font-roboto_mono font-bold text-xl sm:text-2xl bg-mainColor text-white px-5 py-4 rounded-2xl mt-4 sm:hover:scale-110 ease-in-out duration-300 self-center text-center w-full sm:w-fit">Faça agora seu orçamento!</a>
    </div>
  </div>
</section>
